body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* 덜 진한 검정색 */
    color: white; /* 텍스트 색상을 흰색으로 설정 */
}

.container {
    display: flex;
    align-items: flex-start;
}

.image-container {
    position: relative;
    display: inline-block;
}

.coordinate {
    position: absolute;
}

.city-name {
    position: relative;
    top: -20px;
    font-size: 12px;
    color: black;
}

.blue-dot,
.yellow-dot,
.red-dot,
.black-dot,
.white-dot {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.blue-dot {
    background-color: blue;
}

.yellow-dot {
    background-color: yellow;
}

.red-dot {
    background-color: red;
}

.black-dot {
    background-color: black;
}

.white-dot {
    background-color: white;
}

.city-table {
    margin-left: 20px;
}

.city-table table {
    border-collapse: collapse;
}

.city-table td {
    padding: 5px;
    font-size: 14px;
    vertical-align: middle;
}

.city-table .blue-dot,
.city-table .yellow-dot,
.city-table .red-dot,
.city-table .black-dot,
.city-table .white-dot {
    position: static;
    width: 14px;
    height: 14px;
}

.population-info {
    margin-top: 20px;
}

.population-info p {
    font-size: 16px;
    font-weight: bold;
}

.population-info ul {
    list-style-type: none;
    padding: 0;
}

.population-info li {
    margin: 5px 0;
    font-size: 14px;
}
